
  <div class="row mb-5">
    <div class="col-12 about-container">
      <div
        class="heading-container lg:static mb-lg-2 mx-lg-5 mb-3 sticky top-0 z-10 d-lg-none"
      >
        <h2 class="heading-medium font-bold py-4 ">ABOUT</h2>
      </div>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum
        doloribus, mollitia laborum quia perferendis optio voluptatum veritatis
        eos ipsam? Reiciendis, veritatis corrupti tempora voluptatibus
        distinctio alias accusantium quam dolorem cum impedit natus pariatur,
        saepe excepturi quisquam ea exercitationem minima commodi corporis? Odio
        ratione neque iste minus soluta fugit ullam vero.
      </p>
    </div>
  </div>

