<section id="experience" aria-labelledby="experience-heading" class="mb-5">
  <!-- Sticky mobile heading -->
  <div class="sticky top-0 z-20 bg-white d-lg-none">
    <h2 id="experience-heading" class="heading-medium font-bold py-4">
      EXPERIENCE
    </h2>
  </div>

  <!-- Desktop heading -->
  <h2 class="heading-medium font-bold py-4 d-none d-lg-block" style="padding: 20px;" aria-hidden="true">
    EXPERIENCE
  </h2>

  <!-- Experience list -->
  <ul class="list-unstyled" role="list">
    @for (exp of experiences; track exp.id) {
    <li>
      <a
        target="_blank"
        [attr.href]="exp.href"
        class="text-decoration-none p-0"
        [attr.aria-label]="'View more about {{ exp.role }} at {{ exp.company }}'"
      >
        <article
          class="exp-container group mb-3 transition duration-200 ease-in-out cursor-pointer"
          (mouseenter)="hoveredExp = exp.id"
          (mouseleave)="hoveredExp = null"
        >
          <div class="row">
            <div class="col-12 p-0 col-md-3">
              <p>{{ exp.startDate }} - {{ exp.endDate }}</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-12 col-md-8 p-0 pr-lg-2">
              <h3
                class="header-small inline-flex gap-1 items-center transition duration-200 group-hover:text-green-400"
              >
                <span>{{ exp.role }} · {{ exp.company }}</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="h-[16px] w-[16px] transition-transform duration-200 ease-in-out group-hover:-translate-y-[5px] group-hover:translate-x-[5px] group-hover:text-green-400"
                  role="img"
                  aria-hidden="true"
                  focusable="false"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </h3>
              <p class="mt-2">{{ exp.description }}</p>

              <div class="social-media-icons" aria-label="Technologies used">
                <ul class="d-flex flex-wrap gap-2 w-100 mb-0 p-0" role="list">
                  @for (lang of exp.programmingLang; track lang) {
                  <li role="listitem">
                    <div class="badge-container">
                      <p class="badge-text">{{ lang }}</p>
                    </div>
                  </li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </article>
      </a>
    </li>
    }
  </ul>
</section>
