.container {
    max-width: 1280px;
}

.p-y {

   padding-top: 3rem;
   padding-bottom: 3rem;
}

.m-top {
    margin-top: 3rem;
}

.m-bottom {
   margin-bottom: 3rem;
}

@media (min-width: 1024px) {
 .m-top {
    margin-top: 96px;
 }

 .header-container {
   max-height: 100vh;
 }

 .p-y {
   padding-top: 96px;
   padding-bottom: 96px;
 }

 .m-bottom {
   margin-bottom: 96px;
}
   
 .main {

    height: 100vh;
 }
 .container {
    height: 100%;
    
 }

 .row {
    height: 100%;
  }
}
