



  .projects-container {
    transition: background-color 0.2s ease;
 
    padding: 24px 12px;
     border-radius: 5px;
   
 
  }


 @media (min-width: 992px) { 
  .projects-container { 
    padding: 1rem 2rem;

    &:hover {
      background-color: #1e293b;
      cursor: pointer;
   }
  }
  
}
  
 