<div class="social-media-icons pt-3 pt-lg-0" aria-label="Social media links">
  <ul class="list-unstyled d-flex gap-3 align-items-center text-white" role="list">
    <li role="listitem">
      <a
        href="https://github.com/PierreLidholm"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit my GitHub profile"
        class="text-white"
      >
        <i class="fa-brands fa-github fa-xl" aria-hidden="true"></i>
      </a>
    </li>
    <li role="listitem">
      <a
        href="https://www.linkedin.com/in/pierre-lidholm-b43047160/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit my LinkedIn profile"
        class="text-white"
      >
        <i class="fa-brands fa-linkedin fa-xl" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</div>
